[package]
name = "asm"
version = "0.1.0"
edition = "2024"

[dependencies]
wasm-bindgen = "0.2"

[dependencies.web-sys]
version = "0.3"
features = [
  "Document",
  "Window",
  "HtmlCanvasElement",
  "CanvasRenderingContext2d",
]


[lib]
crate-type = ["cdylib", "rlib"]