[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
actix-web = "4"
actix-files = "0.6" # Or the latest compatible version
serde = { version = "1", features = ["derive"] }
serde_json = "1"
